In [1]:
###### import pandas as pd
import pandas as pd 

df1 = pd.read_csv("result (1).csv")
df2 = pd.read_csv("result (2).csv")
df3 = pd.read_csv("result (3).csv")
inpt = pd.read_csv("inpt.csv")

In [2]:
df1

,linkedinProfile,email,headline,location,imgUrl,firstName,lastName,fullName,subscribers,connectionDegree,...,birthday,jobDescription2,phoneNumberFromDropContact,connectedOn,jobDescription,schoolUrl2,schoolDescription2,schoolDescription,website,error
0,https://www.linkedin.com/in/wiaam-sahraoui-00a...,wiaam.sahraoui@sgcib.com,Data Engineer | Trading Process Analyst at Soc...,"Casablanca-Settat, Morocco",https://media-exp1.licdn.com/dms/image/C4E03AQ...,Wiaam,Sahraoui,Wiaam Sahraoui,1232.0,2nd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.linkedin.com/in/abdelhamid-aabirou...,aabirouch75@gmail.com,Data Scientist | Machine Learning/ Deep Learni...,"al-Ribat, Rabat-Salé-Kenitra, Morocco",NaN,Abdelhamid,AABIROUCH,Abdelhamid AABIROUCH,2581.0,2nd,...,February 17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.linkedin.com/in/zait-chaimae-27b64...,NaN,FullSatck Engineer,"Rabat, Rabat-Salé-Kenitra, Morocco",https://media-exp1.licdn.com/dms/image/C4D03AQ...,zait,chaimae,zait chaimae,4504.0,2nd,...,NaN,Consultant at PSA Group,+212 762-341218,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.linkedin.com/in/oumaima-outamldou-...,oumaouta0@gmail.com,Consultante sécurité SI - PCI DSS,Morocco,https://media-exp1.licdn.com/dms/image/C4D03AQ...,Oumaima,Outamldou,Oumaima Outamldou,1827.0,1st,...,NaN,NaN,NaN,"October 28, 2021",NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.linkedin.com/in/karima-el-asekary-...,NaN,Software Engineer - Digital Factory at OCP SA,Morocco,https://media-exp1.licdn.com/dms/image/C4D03AQ...,Karima,EL-ASEKARY,Karima EL-ASEKARY,1060.0,2nd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,https://www.linkedin.com/in/aymane-zeroual/,NaN,Project Manager at INWI,"Casablanca-Settat, Morocco",https://media-exp1.licdn.com/dms/image/C4D03AQ...,Aymane,Zeroual,Aymane Zeroual,2070.0,2nd,...,NaN,NaN,+213 561 67 92 46,NaN,Radio Access Network,NaN,NaN,NaN,NaN,NaN
6,https://www.linkedin.com/in/mohcinebouzalim/,mbouzalim.1997@gmail.com,Financial Markets R&D Engineer at Société Géné...,"Casablanca, Casablanca-Settat, Morocco",https://media-exp1.licdn.com/dms/image/C5603AQ...,Mohcine,BOUZALIM,Mohcine BOUZALIM,349.0,2nd,...,NaN,"Implementation of a toolbox for monitoring, an...",NaN,NaN,NaN,https://www.linkedin.com/company/34681533/,NaN,NaN,NaN,NaN
7,https://www.linkedin.com/in/youssef-zahi/,youssefzahi.0000@gmail.com,Software Engineering Student at INPT,"Rabat-Salé-Kenitra, Morocco",https://media-exp1.licdn.com/dms/image/C4E03AQ...,Youssef,Zahi,Youssef Zahi,164.0,1st,...,NaN,NaN,NaN,"March 1, 2022",NaN,https://www.linkedin.com/company/34681533/,NaN,NaN,NaN,NaN
8,https://www.linkedin.com/in/charaf-moustakim-6...,NaN,Directeur des Systèmes d'information,Casablanca Metropolitan Area,https://media-exp1.licdn.com/dms/image/C4D03AQ...,Charaf,Moustakim,Charaf Moustakim,10339.0,2nd,...,February 26,NaN,+33 6 61 31 61 90,NaN,NaN,https://www.linkedin.com/company/9210720/,Algorithmique \nDatabase Administration Oracle...,NaN,NaN,NaN
9,https://www.linkedin.com/in/youssef-sobaii-a95...,youssef.sobaii@idemia.com,Chapter Lead - System Integration and Deployme...,"Casablanca-Settat, Morocco",NaN,Youssef,SOBAII,Youssef SOBAII,735.0,2nd,...,June 22,- Actively involved in requirements analysis a...,+33 1 73 60 20 20,NaN,NaN,https://www.linkedin.com/company/15141630/,NaN,NaN,NaN,NaN
10,https://www.linkedin.com/in/nabila-abouelfadl-...,NaN,Chef de département chez Université Hassan II ...,"Casablanca, Casablanca-Settat, Morocco",NaN,nabila,abouelfadl,nabila abouelfadl,94.0,2nd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,https://www.linkedin.com/in/aziza-bechara-7a21...,aziza.bechara@capgemini.com,Project Management Office Lead chez Sogeti ATS,"Casablanca-Settat, Morocco",https://media-exp1.licdn.com/dms/image/C4D03AQ...,Aziza,BECHARA,Aziza BECHARA,336.0,2nd,...,NaN,Missions : \n-Planifier les versions\n-Elab...,+33 4 73 28 23 81,NaN,Missions \n-Veiller au bon respect de la feuil...,NaN,NaN,NaN,NaN,NaN
12,https://www.linkedin.com/in/lamyae-hbibi-2447b...,l.hbibi@bankassafa.com,Chef de projet Digital chez Bank Assafa,"Casablanca-Settat, Morocco",NaN,Lamyae,HBIBI,Lamyae HBIBI,1632.0,2nd,...,August 20,Client Louis Vuitton Malletier.\n\nPérimètre :...,+33 5 29 05 20 47,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,https://www.linkedin.com/in/abdelwahab-elfatih...,NaN,Gérant chez MLS-Consulting,Morocco,https://media-exp1.licdn.com/dms/image/C4D03AQ...,Abdelwahab,Elfatihi,Abdelwahab Elfatihi,169.0,3rd,...,January 1,NaN,+44 1244 389367,NaN,NaN,NaN,NaN,Participation travaux de la commission format...,NaN,NaN
14,https://www.linkedin.com/in/taha-bouasria-1490...,tahabouasria15@gmail.com,Embedded Systems Engineering Student,"Rabat, Rabat-Salé-Kenitra, Morocco",https://media-exp1.licdn.com/dms/image/C4E03AQ...,Taha,BOUASRIA,Taha BOUASRIA,1087.0,1st,...,January 26,NaN,+33 1 78 51 38 69,"May 29, 2021",NaN,NaN,Les classes préparatoires | Filiere TSI,NaN,NaN,NaN
15,https://www.linkedin.com/in/rachid-yahya-4176b86/,ryahya@gemalto.com,Project Manager - Government BU at Gemalto,Morocco,https://media-exp1.licdn.com/dms/image/C4E03AQ...,Rachid,YAHYA,Rachid YAHYA,805.0,2nd,...,NaN,NaN,+33 1 57 77 80 00,NaN,NaN,NaN,NaN,NaN,du.ae,NaN
16,https://www.linkedin.com/in/abderrahim-el-amar...,NaN,Software Engineering student at INPT,"Rabat, Rabat-Salé-Kenitra, Morocco",https://media-exp1.licdn.com/dms/image/C4D03AQ...,Abderrahim,El-amarty,Abderrahim El-amarty,698.0,2nd,...,NaN,NaN,NaN,NaN,NaN,https://www.linkedin.com/company/35540810/,NaN,NaN,NaN,NaN
17,https://www.linkedin.com/in/oumaima-barakat-a2...,NaN,Coordinatrice de projet informatique chez Proj...,"Casablanca, Casablanca-Settat, Morocco",https://media-exp1.licdn.com/dms/image/C4D03AQ...,Oumaima,Barakat,Oumaima Barakat,3634.0,2nd,...,NaN,NaN,+212 661-453342,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,https://www.linkedin.com/in/abdelati-batahi-a0...,abdelati.batahi@huawei.net,Wireless Engineer at HUAWEI Technologies Morocco,"Casablanca-Settat, Morocco",https://media-exp1.licdn.com/dms/image/C5603AQ...,Abdelati,BATAHI,Abdelati BATAHI,3688.0,2nd,...,July 12,"Radio Optimisation team\n2G/3G project, Meditel",+33 1 46 20 60 60,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,https://www.linkedin.com/in/mouhcine-e-607840238/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Profile is unavailable
20,https://www.linkedin.com/in/brahim-fady-a12981...,bfady@groupe-bel.fr,IT & Automation Manager chez Groupe BEL,"Casablanca-Settat, Morocco",https://media-exp1.licdn.com/dms/image/C5603AQ...,Brahim,FADY,Brahim FADY,191.0,2nd,...,NaN,NaN,+33 1 84 02 72 50,NaN,NaN,https://www.linkedin.com/company/34592783/,NaN,NaN,NaN,NaN
21,https://www.linkedin.com/in/ayoub-abbasi-3a173...,ayoub.abbasi@groupebcp.com,Software Engineer,"Casablanca-Settat, Morocco",https://media-exp1.licdn.com/dms/image/C5603AQ...,AYOUB,ABBASI,AYOUB ABBASI,204.0,2nd,...,February 25,Conception et réalisation d’une solution de ge...,+33 5 22 20 25 33,NaN,NaN,https://www.linkedin.com/company/15094769/,NaN,NaN,abbasiayoub.github.io/Ayoub-Portfolio/,NaN
22,https://www.linkedin.com/in/nouhaila-nedrhali-...,nouhaila.nedrhali@cgilesite.com,Ingénieur système chez CGI | ITIL v4,Casablanca Metropolitan Area,https://media-exp1.licdn.com/dms/image/C4D03AQ...,Nouhaila,Nedrhali,Nouhaila Nedrhali,931.0,2nd,...,December 14,Étude et implémentation d’une solution d’audit...,+33 3 59 39 61 38,NaN,NaN,NaN,MPSI-MP,"option: Réseaux, Systèmes et Sécurité",NaN,NaN
23,https://www.linkedin.com/in/rachid-taleb-b2657...,rachid.taleb@groupebcp.com,Consultant ETL chez Banque Centrale Populaire ...,"Casablanca, Casablanca-Settat, Morocco",NaN,Rachid,Taleb,Rachid Taleb,199.0,2nd,...,NaN,\t- Intégration et Reprise de données via l'E...,+33 5 22 20 25 33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,https://www.linkedin.com/in/anass-m-51276ab0/,NaN,Chef de projet SI chez Orange Maroc,"Casablanca, Casablanca-Settat, Morocco",NaN,Anass.,M.,Anass. M.,210.0,2nd,...,NaN,NaN,+212 663-121121,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,https://www.linkedin.com/in/ibrahim-bennouna-7...,ibennoun@bouyguestelecom.fr,IT Project Manager,Casablanca Metropolitan Area,https://media-exp1.licdn.com/dms/image/C4D03AQ...,Ibrahim,BENNOUNA,Ibrahim BENNOUNA,1241.0,2nd,...,February 17,SWAP Nokia/Huawei 5G Project :\n\n• End to end...,+33 2 35 62 76 25,NaN,NaN,https://www.linkedin.com/company/15091873/,https://strategies.cnam.fr/catalogue-des-forma...,• Certification: CAPM\n• Formation SAP QM MM -...,NaN,NaN
26,https://www.linkedin.com/in/jihane-bouzoubaa-9...,jihane.bouzoubaa@creditinfo.com,Chief Technology Officer at Creditinfo Maroc,"Casablanca, Casablanca-Settat, Morocco",https://media-exp1.licdn.com/dms/image/C4E03AQ...,Jihane,BOUZOUBAA,Jihane BOUZOUBAA,486.0,2nd,...,NaN,\n•\tTranslate the business needs into system ...,NaN,NaN,"• Reporting to the CEO, direct the technology ...",https://www.linkedin.com/company/15109043/,NaN,NaN,NaN,NaN
27,https://www.linkedin.com/in/karim-agourram/,karim.agourram@gmail.com,Expert IN chez inwi,"Casablanca-Settat, Morocco",https://media-exp1.licdn.com/dms/image/C5103AQ...,Karim,AGOURRAM,Karim AGOURRAM,2701.0,2nd,...,NaN,NaN,+213 561 67 92 46,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,https://www.linkedin.com/in/yassine-berdad-ing/,NaN,Data Engineer | 2x Microsoft Azure Certified,"Rabat, Rabat-Salé-Kenitra, Morocco",https://media-exp1.licdn.com/dms/image/C5603AQ...,Yassine,Berdad,Yassine Berdad,730.0,2nd,...,March 28,Implementation of a decision-making and foreca...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,https://www.linkedin.com/in/sara-zakri-3a8715121/,sara.zakri@groupebcp.com,Cyber Security Engineer,"Casablanca-Settat, Morocco",https://media-exp1.licdn.com/dms/image/C4D03AQ...,Sara,ZAKRI,Sara ZAKRI,308.0,2nd,...,NaN,NaN,+33 5 22 20 25 33,NaN,NaN,https://www.linkedin.com/company/28597014/,NaN,Incident handling & Disaster Recovery; OWASP; ...,NaN,NaN
30,https://www.linkedin.com/in/elkanouni-othmane-...,NaN,Machine learning engineer/Data scientist,"Casablanca, Casablanca-Settat, Morocco",https://media-exp1.licdn.com/dms/image/C4D03AQ...,elkanouni,othmane,elkanouni othmane,170.0,2nd,...,NaN,"_ Collecting, processing the data and creating...",+33 1 57 60 20 20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,https://www.linkedin.com/in/chaima-ait-bouaziz...,NaN,DevOps & Cloud Consultant,"Casablanca-Settat, Morocco",https://media-exp1.licdn.com/dms/image/C4D03AQ...,CHAIMA,AIT BOUAZIZ,CHAIMA AIT BOUAZIZ,209.0,2nd,...,NaN,La mise en place d’une usine DevOps au sein de...,+33 1 58 36 40 60,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,https://www.linkedin.com/in/abdellatif-elyouss...,NaN,Azure Devops Engineer at Société Générale - Af...,"Casablanca-Settat, Morocco",https://media-exp1.licdn.com/dms/image/C5603AQ...,Abdellatif,EL YOUSSEFY,Abdellatif EL YOUSSEFY,814.0,2nd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,https://www.linkedin.com/in/anass-el-madani-71...,anass.elmadani@sybycegedim.com,ingénieur d'étude et développement (Java/JEE |...,"Rabat, Rabat-Salé-Kenitra, Morocco",https://media-exp1.licdn.com/dms/image/D4D03AQ...,Anass,El Madani,Anass El Madani,586.0,2nd,...,NaN,Conception et réalisation d'une application po...,+33 1 49 09 22 00,NaN,NaN,https://www.linkedin.com/company/34681533/,NaN,NaN,NaN,NaN
34,https://www.linkedin.com/in/brahim-tijjani-aa0...,brahim.tijjani@groupebcp.com,Consultant senior en systèmes d’information ba...,Morocco,https://media-exp1.licdn.com/dms/image/C5603AQ...,Brahim,Tijjani,Brahim Tijjani,574.0,2nd,...,November 2,La digitalisation du workflow de gestion des f...,+33 5 22 20 25 33,NaN,Projet de refonte de la réglementation BCEAO e...,https://www.linkedin.com/company/11187181/,NaN,NaN,NaN,NaN
35,https://www.linkedin.com/in/soukaina-cherrabi-...,scherrabi@deloitte.fr,Cyber Security Consultant,Rabat Metropolitan Area,NaN,Soukaina,Cherrabi,Soukaina Cherrabi,908.0,2nd,...,NaN,NaN,+33 5 57 19 50 00,NaN,NaN,https://www.linkedin.com/company/34681533/,NaN,NaN,NaN,NaN
36,https://www.linkedin.com/in/soufian-lagnaoui-9...,NaN,Senior Back-End Engineer chez RevoTrends,"Casablanca-Settat, Morocco",https://media-exp1.licdn.com/dms/image/C4E03AQ...,Soufian,Lagnaoui,Soufian Lagnaoui,1171.0,2nd,...,NaN, RESPONSIBLE FOR THE BACKEND APPLICATIONS (Co...,+64 6-475 8078,NaN,NaN,NaN,NaN,NaN,soufianla.github.io/,NaN
37,https://www.linkedin.com/in/abdelmoughite-ould...,NaN,Consultant Sénior (Angular/Java JEE),"Casablanca-Settat, Morocco",https://media-exp1.licdn.com/dms/image/C4E03AQ...,Abdelmoughite,OULD ARBIA,Abdelmoughite OULD ARBIA,342.0,2nd,...,NaN,NaN,+33 1 88 54 40 00,NaN,NaN,https://www.linkedin.com/company/34681533/,NaN,NaN,NaN,NaN
38,https://www.linkedin.com/in/yousra-rida-78a696...,yousraridarida@gmail.com,Ingénieur études et développements,Morocco,https://media-exp1.licdn.com/dms/image/C5603AQ...,Yousra,Rida,Yousra Rida,475.0,1st,...,NaN,Développement d'une application Web e-commerce...,+33 1 49 09 22 00,"March 10, 2022",Refonte d'application de planning collectif et...,NaN,NaN,NaN,NaN,NaN
39,https://www.linkedin.com/in/amine-ouled-belgar...,ouledbelgarne@delltechnologies.fr,Solution Architect at Dell Technologies,"Casablanca, Casablanca-Settat, Morocco",https://media-exp1.licdn.com/dms/image/C4D03AQ...,Amine,OULED BELGARNE,Amine OULED BELGARNE,486.0,2nd,...,March 28,I work on installing and servicing Dell EMC pr...,NaN,NaN,Design and Implement High End and Midrange Sto...,NaN,NaN,NaN,NaN,NaN
40,https://www.linkedin.com/in/mouad-cherkaoui-se...,cm@fr.thalesgroup.com,CyberSecurity Consultant,"Rabat, Rabat-Salé-Kenitra, Morocco",https://media-exp1.licdn.com/dms/image/C4E03AQ...,Mouad,CHERKAOUI SEMMOUNI,Mouad CHERKAOUI SEMMOUNI,670.0,2nd,...,NaN,Mise en place d’un outil d’audit de conformité...,+33 5 55 92 89 89,NaN,NaN,https://www.linkedin.com/company/34681533/,NaN,NaN,NaN,NaN
41,NaN,NaN,Data Center Channel Pre-Sales at Dell EMC,"Casablanca, Casablanca-Settat, Morocco",NaN,Ouadia,Boukachabine,Ouadia Boukachabine,NaN,3rd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
inpt.drop(["Unnamed: 0","id"], 1, inplace=True)

C:\Users\taha_\AppData\Local\Temp/ipykernel_7044/3629053888.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  inpt.drop(["Unnamed: 0","id"], 1, inplace=True)

In [4]:
inpt.columns = ['LinkedinProfile', 'Company', 'Location']

In [5]:
inpt

,LinkedinProfile,Company,Location
0,https://www.linkedin.com/in/wiaam-sahraoui-00a...,Société Générale - Africa Technologies & Services,"Casablanca-Settat, Morocco"
1,https://www.linkedin.com/in/abdelhamid-aabirou...,Institut National des Postes et Télécommunicat...,"al-Ribat, Rabat-Salé-Kenitra, Morocco"
2,https://www.linkedin.com/in/zait-chaimae-27b64...,Institut National des Postes et Télécommunicat...,"Rabat, Rabat-Salé-Kenitra, Morocco"
3,https://www.linkedin.com/in/oumaima-outamldou-...,DATAPROTECT,Morocco
4,https://www.linkedin.com/in/karima-el-asekary-...,OCP SA,Morocco
...,...,...,...
645,https://www.linkedin.com/in/mehdi-laarif-5b552...,NaN,NaN
646,https://www.linkedin.com/in/badr-oueld-elhache...,NaN,NaN
647,https://www.linkedin.com/in/soukaina-ezzenfari...,NaN,NaN
648,https://www.linkedin.com/in/abdelhadi-bakhty-1...,NaN,NaN
649,https://www.linkedin.com/in/ayoub-loumi-2437366b/,NaN,NaN

In [6]:
inpt.LinkedinProfile[1]

'https://www.linkedin.com/in/abdelhamid-aabirouch-235528185/'

In [7]:
inpt.Company.isna().sum()

430

In [8]:
inpt.LinkedinProfile.value_counts()

https://www.linkedin.com/in/sarahbenfdil/                      2
https://www.linkedin.com/in/sorf-youssef-b4b8a8160/            2
https://www.linkedin.com/in/chaimae-attioui/                   2
https://www.linkedin.com/in/mohamed-kosbi-aa117b139/           2
https://www.linkedin.com/in/douyhry-oussama-b1a80a16a/         2
                                                              ..
https://www.linkedin.com/in/omar-dafiri/                       1
https://www.linkedin.com/in/addouli-mohamed-ilias-1b37866b/    1
https://www.linkedin.com/in/nadia-fahssi-3a21311a7/            1
https://www.linkedin.com/in/kenza-zemmouri/                    1
https://www.linkedin.com/in/ayoub-loumi-2437366b/              1
Name: LinkedinProfile, Length: 632, dtype: int64

In [9]:
df1 = df1[['linkedinProfile','location','company']]
df1.columns = ['LinkedinProfile','Location','Company']

In [10]:
df2 = df2[['linkedinProfile','location','company']]
df2.columns = ['LinkedinProfile','Location','Company']

In [11]:
df3 = df3[['linkedinProfile','location','company']]
df3.columns = ['LinkedinProfile','Location','Company']

In [12]:
df = pd.concat([df1, df2, df3])

In [13]:
df.reset_index(inplace=True)

In [14]:
df.drop("index",1, inplace=True)

C:\Users\taha_\AppData\Local\Temp/ipykernel_7044/3144068759.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df.drop("index",1, inplace=True)

In [15]:
df.LinkedinProfile[1]

'https://www.linkedin.com/in/abdelhamid-aabirouch-235528185/'

In [16]:
df

,LinkedinProfile,Location,Company
0,https://www.linkedin.com/in/wiaam-sahraoui-00a...,"Casablanca-Settat, Morocco",Société Générale - Africa Technologies & Services
1,https://www.linkedin.com/in/abdelhamid-aabirou...,"al-Ribat, Rabat-Salé-Kenitra, Morocco",Henceforth
2,https://www.linkedin.com/in/zait-chaimae-27b64...,"Rabat, Rabat-Salé-Kenitra, Morocco",FLOW DIGITAL STUDIO
3,https://www.linkedin.com/in/oumaima-outamldou-...,Morocco,DATAPROTECT
4,https://www.linkedin.com/in/karima-el-asekary-...,Morocco,OCP SA
...,...,...,...
162,https://www.linkedin.com/in/anasshabi/,"Casablanca-Settat, Morocco",CFG Bank
163,https://www.linkedin.com/in/achraf-elgargour-7...,"Marrakesh-Safi, Morocco",Avempace Consulting
164,https://www.linkedin.com/in/mohamed-chan-aloua...,"Casablanca-Settat, Morocco",Orange Maroc
165,https://www.linkedin.com/in/siham-zine-95b71420a/,"Drâa-Tafilalet, Morocco",Eurostyle Systems
166,https://www.linkedin.com/in/khalid-ezzaytouni-...,"Rabat, Rabat-Salé-Kenitra, Morocco",INGECYS TECHNOLOGIES GROUP

In [17]:
final = inpt.merge(df,on='LinkedinProfile', how='left')

In [18]:
final['LinkedinProfile'].value_counts()

https://www.linkedin.com/in/anas-fedoul-40513120/              4
https://www.linkedin.com/in/youssef-harrak-04791a18a/          4
https://www.linkedin.com/in/mehdi-saati-35b46925/              4
https://www.linkedin.com/in/salim-khanfri-12968a3a/            4
https://www.linkedin.com/in/younessbelabid/                    4
                                                              ..
https://www.linkedin.com/in/omar-dafiri/                       1
https://www.linkedin.com/in/addouli-mohamed-ilias-1b37866b/    1
https://www.linkedin.com/in/nadia-fahssi-3a21311a7/            1
https://www.linkedin.com/in/kenza-zemmouri/                    1
https://www.linkedin.com/in/ayoub-loumi-2437366b/              1
Name: LinkedinProfile, Length: 632, dtype: int64

In [19]:
final

,LinkedinProfile,Company_x,Location_x,Location_y,Company_y
0,https://www.linkedin.com/in/wiaam-sahraoui-00a...,Société Générale - Africa Technologies & Services,"Casablanca-Settat, Morocco","Casablanca-Settat, Morocco",Société Générale - Africa Technologies & Services
1,https://www.linkedin.com/in/abdelhamid-aabirou...,Institut National des Postes et Télécommunicat...,"al-Ribat, Rabat-Salé-Kenitra, Morocco","al-Ribat, Rabat-Salé-Kenitra, Morocco",Henceforth
2,https://www.linkedin.com/in/zait-chaimae-27b64...,Institut National des Postes et Télécommunicat...,"Rabat, Rabat-Salé-Kenitra, Morocco","Rabat, Rabat-Salé-Kenitra, Morocco",FLOW DIGITAL STUDIO
3,https://www.linkedin.com/in/oumaima-outamldou-...,DATAPROTECT,Morocco,Morocco,DATAPROTECT
4,https://www.linkedin.com/in/karima-el-asekary-...,OCP SA,Morocco,Morocco,OCP SA
...,...,...,...,...,...
657,https://www.linkedin.com/in/mehdi-laarif-5b552...,NaN,NaN,NaN,NaN
658,https://www.linkedin.com/in/badr-oueld-elhache...,NaN,NaN,NaN,NaN
659,https://www.linkedin.com/in/soukaina-ezzenfari...,NaN,NaN,NaN,NaN
660,https://www.linkedin.com/in/abdelhadi-bakhty-1...,NaN,NaN,NaN,NaN
661,https://www.linkedin.com/in/ayoub-loumi-2437366b/,NaN,NaN,NaN,NaN

In [20]:
final.Company_x.isna().sum()

442

In [21]:
for element in [df]:
    print(element)

                                       LinkedinProfile  \
0    https://www.linkedin.com/in/wiaam-sahraoui-00a...
1    https://www.linkedin.com/in/abdelhamid-aabirou...
2    https://www.linkedin.com/in/zait-chaimae-27b64...
3    https://www.linkedin.com/in/oumaima-outamldou-...
4    https://www.linkedin.com/in/karima-el-asekary-...
..                                                 ...
162             https://www.linkedin.com/in/anasshabi/
163  https://www.linkedin.com/in/achraf-elgargour-7...
164  https://www.linkedin.com/in/mohamed-chan-aloua...
165  https://www.linkedin.com/in/siham-zine-95b71420a/
166  https://www.linkedin.com/in/khalid-ezzaytouni-...

                                  Location  \
0               Casablanca-Settat, Morocco
1    al-Ribat, Rabat-Salé-Kenitra, Morocco
2       Rabat, Rabat-Salé-Kenitra, Morocco
3                                  Morocco
4                                  Morocco
..                                     ...
162             Casablanca-Settat, Morocco
163                Marrakesh-Safi, Morocco
164             Casablanca-Settat, Morocco
165                Drâa-Tafilalet, Morocco
166     Rabat, Rabat-Salé-Kenitra, Morocco

                                               Company
0    Société Générale - Africa Technologies & Services
1                                           Henceforth
2                                  FLOW DIGITAL STUDIO
3                                          DATAPROTECT
4                                               OCP SA
..                                                 ...
162                                           CFG Bank
163                                Avempace Consulting
164                                       Orange Maroc
165                                  Eurostyle Systems
166                         INGECYS TECHNOLOGIES GROUP

[167 rows x 3 columns]

In [22]:
inpt[inpt.LinkedinProfile == df.LinkedinProfile[0]]

,LinkedinProfile,Company,Location
0,https://www.linkedin.com/in/wiaam-sahraoui-00a...,Société Générale - Africa Technologies & Services,"Casablanca-Settat, Morocco"

In [23]:
df

,LinkedinProfile,Location,Company
0,https://www.linkedin.com/in/wiaam-sahraoui-00a...,"Casablanca-Settat, Morocco",Société Générale - Africa Technologies & Services
1,https://www.linkedin.com/in/abdelhamid-aabirou...,"al-Ribat, Rabat-Salé-Kenitra, Morocco",Henceforth
2,https://www.linkedin.com/in/zait-chaimae-27b64...,"Rabat, Rabat-Salé-Kenitra, Morocco",FLOW DIGITAL STUDIO
3,https://www.linkedin.com/in/oumaima-outamldou-...,Morocco,DATAPROTECT
4,https://www.linkedin.com/in/karima-el-asekary-...,Morocco,OCP SA
...,...,...,...
162,https://www.linkedin.com/in/anasshabi/,"Casablanca-Settat, Morocco",CFG Bank
163,https://www.linkedin.com/in/achraf-elgargour-7...,"Marrakesh-Safi, Morocco",Avempace Consulting
164,https://www.linkedin.com/in/mohamed-chan-aloua...,"Casablanca-Settat, Morocco",Orange Maroc
165,https://www.linkedin.com/in/siham-zine-95b71420a/,"Drâa-Tafilalet, Morocco",Eurostyle Systems
166,https://www.linkedin.com/in/khalid-ezzaytouni-...,"Rabat, Rabat-Salé-Kenitra, Morocco",INGECYS TECHNOLOGIES GROUP

In [24]:
inpt

,LinkedinProfile,Company,Location
0,https://www.linkedin.com/in/wiaam-sahraoui-00a...,Société Générale - Africa Technologies & Services,"Casablanca-Settat, Morocco"
1,https://www.linkedin.com/in/abdelhamid-aabirou...,Institut National des Postes et Télécommunicat...,"al-Ribat, Rabat-Salé-Kenitra, Morocco"
2,https://www.linkedin.com/in/zait-chaimae-27b64...,Institut National des Postes et Télécommunicat...,"Rabat, Rabat-Salé-Kenitra, Morocco"
3,https://www.linkedin.com/in/oumaima-outamldou-...,DATAPROTECT,Morocco
4,https://www.linkedin.com/in/karima-el-asekary-...,OCP SA,Morocco
...,...,...,...
645,https://www.linkedin.com/in/mehdi-laarif-5b552...,NaN,NaN
646,https://www.linkedin.com/in/badr-oueld-elhache...,NaN,NaN
647,https://www.linkedin.com/in/soukaina-ezzenfari...,NaN,NaN
648,https://www.linkedin.com/in/abdelhadi-bakhty-1...,NaN,NaN
649,https://www.linkedin.com/in/ayoub-loumi-2437366b/,NaN,NaN

In [25]:
for link in df.LinkedinProfile:
    print("-------------------")
    print(str(link))
    print(df.loc[df.LinkedinProfile == str(link) , 'Company'])
    inpt.loc[ inpt.LinkedinProfile == str(link) , 'Company'] = df.loc[df.LinkedinProfile == str(link) , 'Company'].values
    inpt.loc[ inpt.LinkedinProfile == str(link) , 'Location'] = df.loc[df.LinkedinProfile == str(link) , 'Location'].values

-------------------
https://www.linkedin.com/in/wiaam-sahraoui-00a7bb1a9/
0    Société Générale - Africa Technologies & Services
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/abdelhamid-aabirouch-235528185/
1    Henceforth
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/zait-chaimae-27b640158/
2    FLOW DIGITAL STUDIO
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/oumaima-outamldou-686484180/
3    DATAPROTECT
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/karima-el-asekary-a6922b86/
4    OCP SA
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/aymane-zeroual/
5    INWI
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/mohcinebouzalim/
6    Société Générale - Africa Technologies & Services
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/youssef-zahi/
7    NaN
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/charaf-moustakim-661b4b5b/
8    Confidentiel
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/youssef-sobaii-a9565955/
9    IDEMIA
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/nabila-abouelfadl-496ab322/
10    Université Hassan II de Casablanca
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/aziza-bechara-7a21892a/
11    Capgemini - Sogeti ATS
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/lamyae-hbibi-2447b553/
12    Bank Assafa
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/abdelwahab-elfatihi-14bbb524/
13    MLS-Consulting
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/taha-bouasria-149086206/
14    IEEE INPT Student Branch
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/rachid-yahya-4176b86/
15    Gemalto
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/abderrahim-el-amarty-202a281a0/
16    NaN
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/oumaima-barakat-a2a4371a5/
17    Project up group
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/abdelati-batahi-a0171511/
18    HUAWEI Technologies Morocco
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/mouhcine-e-607840238/
19    NaN
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/brahim-fady-a12981163/
20    Bel
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/ayoub-abbasi-3a1730193/
21    Banque Centrale Populaire - BCP
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/nouhaila-nedrhali-ba0135160/
22    CGI
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/rachid-taleb-b2657626/
23    Banque Centrale Populaire - BCP
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/anass-m-51276ab0/
24    Orange Maroc
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/ibrahim-bennouna-72a57631/
25    Bouygues Telecom
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/jihane-bouzoubaa-97b598107/
26    Creditinfo Maroc
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/karim-agourram/
27    inwi
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/yassine-berdad-ing/
28    Self-employed
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/sara-zakri-3a8715121/
29    Banque Centrale Populaire - BCP
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/elkanouni-othmane-b201ab1ab/
30    Oracle
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/chaima-ait-bouaziz-1aba41158/
31    NEOXIA
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/abdellatif-elyoussefy/
32    Société Générale - Africa Technologies & Services
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/anass-el-madani-71b190157/
33    Cegedim e-business
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/brahim-tijjani-aa09a3159/
34    Banque Centrale Populaire - BCP
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/soukaina-cherrabi-8b4921199/
35    Deloitte
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/soufian-lagnaoui-905b31b9/
36    RevoTrends
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/abdelmoughite-ould-arbia/
37    DXC Technology
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/yousra-rida-78a696178/
38    CEGEDIM
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/amine-ouled-belgarne-12993123/
39    Dell Technologies
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/mouad-cherkaoui-semmouni/
40    Thales
Name: Company, dtype: object
-------------------
nan
Series([], Name: Company, dtype: object)
-------------------
https://www.linkedin.com/in/ouadia-boukachabine-443a8b16b/
42    Dell EMC
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/ayoub-el-jabiry-276638110/
43    Teal Technology Services (IBM & OCP JV)
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/ahmed-ait-mlouk/
44    -
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/hind-karram-32446462/
45    Banque Centrale Populaire - BCP
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/mhamed-mansouri-36116a77/
46    VISEO
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/kamar-khallouki-58a702193/
47    SQLI
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/arrabab-brik-180a1b15/
48    Munisys
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/amina-ait-ouahman-31145426/
49    Direction Générale de la Sécurité des Systèmes...
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/naima-ajebli-a35564188/
50    Leyton
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/youssra-mazouz-809931163/
51    Capgemini
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/ayoub-boukhalf-823440157/
52    BCG Platinion
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/bochra-e-035b646b/
53    OCP SA
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/soufianemssd/
54    Maltem Consulting Group
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/othmanehari/
55    MTech Invest
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/belaid-bouaoualten-2b3667187/
56    Adria Business & Technology
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/la%C3%AFla-madani-86a1b8141/
57    Nador West Med SA
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/ebenhaddouch/
58    Adria B&T
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/ouafae-a-86457616/
59    Orange Business Services au Maroc
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/mostapha-essoullami-965163188/
60    Berexia
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/yasser-karmaoui-idrissi-318a1613/
61    Orange Maroc
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/khalid-el-fahssi-901882b/
62    Université Sidi Mohammed Ben Abdellah-Fès: FSDM
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/adil-khalifa-b8165450/
63    BMCI / BNPPARIBAS
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/abdeljalil-lekouarid-a3b64419/
64    OFPPT
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/taouil-hajar/
65    Capgemini
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/anas-tasti-352b1619a/
66    N+ONE Datacenters
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/anas-benmoussa-2a819a134/
67    Orange Maroc
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/mohamed-chahid-a1b2b395/
68    inwi
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/omar-dafiri/
69    Banque Centrale Populaire - BCP
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/addouli-mohamed-ilias-1b37866b/
70    Marsa Maroc
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/nadia-fahssi-3a21311a7/
71    Banque Centrale Populaire - BCP
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/kenza-zemmouri/
72    Institut National des Postes et Télécommunicat...
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/meryem-kaibous-94a93a51/
73    Orange Business Services
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/khouloud-rochd-ab760710b/
74    Société Générale African Business Services
Name: Company, dtype: object

-------------------
https://www.linkedin.com/in/fatimaezzahrayouti/
75    CIH BANK
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/zakariae-bariy-561703132/
76    inwi
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/issam-el-johri-75b6ba50/
77    4D
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/hamzachana/
78    Taillis Labs
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/nour-eddine-oussou-a5b0841b/
79    Moroccan Customs
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/mohammed-saihi-8a9b3b189/
80    Safran
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/magoul-omar-05255327/
81    Sofrecom Maroc
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/fadoua-taibi-a019b11ab/
82    Confidential
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/mohamed-amine-kaoukab-538122b8/
83    Orange Cyberdefense (Groupe Orange)
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/ayoub-lasbate/
84    Lear Corporation
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/chaimaailham/
85    Carrier HVAC
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/mounia-benaziz-361b2115/
86    Casanet SA, Filiale de Maroc Telecom
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/imane-taoui-826674175/
87    DXC Technology
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/salim-khanfri-12968a3a/
88     General Directorate of Information Systems Sec...
103    General Directorate of Information Systems Sec...
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/yassine-ouarab-pmp%C2%AE-psm%C2%AE-85211925/
89    Maroc Telecom
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/yassine-khaldi/
90    CFG Bank
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/afaf-ben-m-barek-2b562b114/
91    Orange Maroc
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/amine-hnini-b048858/
92    Nokia
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/youssef-ansari/
93    Orange
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/mehdi-saati-35b46925/
94     Société Générale African Business Services
116    Société Générale African Business Services
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/youssef-harrak-04791a18a/
95     Banque Centrale Populaire - BCP
112    Banque Centrale Populaire - BCP
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/chaimae-attioui/
96    Lear Corporation
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/sarahbenfdil/
97    Wavestone
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/elbachir-bahabibi-b23775193/
98    Lear Corporation
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/anas-fedoul-40513120/
99     SICOTEL communications
132    SICOTEL communications
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/douyhry-oussama-b1a80a16a/
100    inwi
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/mohamed-kosbi-aa117b139/
101    HPS
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/hajar-had-098074138/
102    Lear Corporation
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/salim-khanfri-12968a3a/
88     General Directorate of Information Systems Sec...
103    General Directorate of Information Systems Sec...
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/yazid-aqel/
104    NaN
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/mohamed-zougagh-30bb11108/
105    CODAGILE
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/iib0011/
106    Masarat App
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/samir-abdelmalek-07812b145/
107    Majorel Africa
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/raghida-el-boutaybi-8339ba199/
108    Deloitte
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/oussama-gadari-849776199/
109    NaN
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/omar-labbihi-188229112/
110    S2M
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/kaoutar-bentalha/
111    Orange Business Services
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/youssef-harrak-04791a18a/
95     Banque Centrale Populaire - BCP
112    Banque Centrale Populaire - BCP
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/badr-eddine-laaroussi-637bb381/
113    Wafa Assurance
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/sorf-youssef-b4b8a8160/
114    Digimind
136    Digimind
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/nasiha-sebti/
115    NaN
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/mehdi-saati-35b46925/
94     Société Générale African Business Services
116    Société Générale African Business Services
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/houda-madih-496a13181/
117    Société Générale African Business Services
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/ismail-mountassir-ba02367/
118    Orange Maroc
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/soufiane-el-ayoubi-amine-716b05154/
119    RMA - Royale Marocaine d'Assurance
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/nouhaila-aali-a45067168/
120    Lear Corporation
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/elkarfiimran/
121    INWI
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/nabil-lahlou-kassi-3750619/
122    Ericsson
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/souaad-zakir-84b238203/
123    NaN
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/latifa-mokdad-21211926/
124    Sofrecom
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/younessbelabid/
125    SEKERA
140    SEKERA
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/abderrahim-dabaji-638237167/
126    Banque Centrale Populaire - BCP
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/mamady-delamou-822970165/
127    Mohammed VI Polytechnic University
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/jihane-bennani-a0091815/
128    inwi
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/kaizen-skills-82081551/
129    KAIZEN SOFT SKILLS
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/dr-safa%C3%A2-b-28964921/
130    inwi
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/sanae-zaki-07536215/
131    Attijariwafa bank
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/anas-fedoul-40513120/
99     SICOTEL communications
132    SICOTEL communications
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/nihal-salih/
133    Freelancer.com
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/ilham-ikbal-4b598514/
134    IDEMIA
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/hamza-ouarab-75b42544/
135    HOLGED - Holding Générale d'Education
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/sorf-youssef-b4b8a8160/
114    Digimind
136    Digimind
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/hajar-arous-87215917/
137    Maroc Telecom
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/anas-oudda/
138    IBM
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/ouhejjou-jihane-35974544/
139    AFD Tech
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/younessbelabid/
125    SEKERA
140    SEKERA
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/el-mustapha-morchid-mba-pmp-0161953/
141    Ericsson
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/salah-ait-el-asri-b6a9941a9/
142    RIBATIS
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/abdelhamid-belodi-705780181/

143    Thales
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/redouane-labzioui-a11b82b2/
144    Independent Consultant
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/hanane-bayen-8322a8219/
145    NaN
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/tariq-tali-8a79174/
146    inwi
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/soufiane-fatih-98433888/
147    Inetum
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/salma-bahloul-630506212/
148    Société Générale African Business Services
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/youssef-elyamani/
149    Payment Center For Africa - PCA
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/wadii-mordy/
150    HPS
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/hamzasan/
151    HPS
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/yassine-talai-88480310/
152    inwi
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/najib-elhamdani/
153    Orange
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/hamzahaimad/
154    Banque Centrale Populaire - BCP
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/bouchra-amellal/
155    NTT DATA Morocco
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/mohamedhajy/
156    Oracle
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/abdelghani-achibane/overlay/contact-info/
157    Société Générale - Africa Technologies & Services
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/houda-khaled-207930138/
158    Weexa
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/adil-ouzzane/
159    Huawei
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/alae-eddine-tafahi-b0420495/
160    Orange Maroc
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/safa-boumahroud-a917611a3/
161    NaN
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/anasshabi/
162    CFG Bank
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/achraf-elgargour-7074a6108/
163    Avempace Consulting
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/mohamed-chan-alouat-31901964/
164    Orange Maroc
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/siham-zine-95b71420a/
165    Eurostyle Systems
Name: Company, dtype: object
-------------------
https://www.linkedin.com/in/khalid-ezzaytouni-41a5b312b/
166    INGECYS TECHNOLOGIES GROUP
Name: Company, dtype: object

In [26]:
inpt

,LinkedinProfile,Company,Location
0,https://www.linkedin.com/in/wiaam-sahraoui-00a...,Société Générale - Africa Technologies & Services,"Casablanca-Settat, Morocco"
1,https://www.linkedin.com/in/abdelhamid-aabirou...,Henceforth,"al-Ribat, Rabat-Salé-Kenitra, Morocco"
2,https://www.linkedin.com/in/zait-chaimae-27b64...,FLOW DIGITAL STUDIO,"Rabat, Rabat-Salé-Kenitra, Morocco"
3,https://www.linkedin.com/in/oumaima-outamldou-...,DATAPROTECT,Morocco
4,https://www.linkedin.com/in/karima-el-asekary-...,OCP SA,Morocco
...,...,...,...
645,https://www.linkedin.com/in/mehdi-laarif-5b552...,NaN,NaN
646,https://www.linkedin.com/in/badr-oueld-elhache...,NaN,NaN
647,https://www.linkedin.com/in/soukaina-ezzenfari...,NaN,NaN
648,https://www.linkedin.com/in/abdelhadi-bakhty-1...,NaN,NaN
649,https://www.linkedin.com/in/ayoub-loumi-2437366b/,NaN,NaN

In [27]:
inpt.to_csv("ladata.csv")

In [28]:
inpt.Company.isna().sum()

272

In [29]:
inpt_new = inpt.dropna(axis=0)

In [30]:
inpt_new.isna().sum()

LinkedinProfile    0
Company            0
Location           0
dtype: int64

In [31]:
inpt_new

,LinkedinProfile,Company,Location
0,https://www.linkedin.com/in/wiaam-sahraoui-00a...,Société Générale - Africa Technologies & Services,"Casablanca-Settat, Morocco"
1,https://www.linkedin.com/in/abdelhamid-aabirou...,Henceforth,"al-Ribat, Rabat-Salé-Kenitra, Morocco"
2,https://www.linkedin.com/in/zait-chaimae-27b64...,FLOW DIGITAL STUDIO,"Rabat, Rabat-Salé-Kenitra, Morocco"
3,https://www.linkedin.com/in/oumaima-outamldou-...,DATAPROTECT,Morocco
4,https://www.linkedin.com/in/karima-el-asekary-...,OCP SA,Morocco
...,...,...,...
604,https://www.linkedin.com/in/slaoui-mehdi/,OUTFITTERY,Berlin Metropolitan Area
605,https://www.linkedin.com/in/chafikkasimi/,AiSight,"Berlin, Berlin, Germany"
606,https://www.linkedin.com/in/haitam-bourquouquo...,Altran,"Hamburg, Hamburg, Germany"
607,https://www.linkedin.com/in/fatima-zouicha-487...,globaldatanet,"Hamburg, Hamburg, Germany"
608,https://www.linkedin.com/in/souhaila-bouaida-4...,Huawei,Sweden

In [32]:
df

,LinkedinProfile,Location,Company
0,https://www.linkedin.com/in/wiaam-sahraoui-00a...,"Casablanca-Settat, Morocco",Société Générale - Africa Technologies & Services
1,https://www.linkedin.com/in/abdelhamid-aabirou...,"al-Ribat, Rabat-Salé-Kenitra, Morocco",Henceforth
2,https://www.linkedin.com/in/zait-chaimae-27b64...,"Rabat, Rabat-Salé-Kenitra, Morocco",FLOW DIGITAL STUDIO
3,https://www.linkedin.com/in/oumaima-outamldou-...,Morocco,DATAPROTECT
4,https://www.linkedin.com/in/karima-el-asekary-...,Morocco,OCP SA
...,...,...,...
162,https://www.linkedin.com/in/anasshabi/,"Casablanca-Settat, Morocco",CFG Bank
163,https://www.linkedin.com/in/achraf-elgargour-7...,"Marrakesh-Safi, Morocco",Avempace Consulting
164,https://www.linkedin.com/in/mohamed-chan-aloua...,"Casablanca-Settat, Morocco",Orange Maroc
165,https://www.linkedin.com/in/siham-zine-95b71420a/,"Drâa-Tafilalet, Morocco",Eurostyle Systems
166,https://www.linkedin.com/in/khalid-ezzaytouni-...,"Rabat, Rabat-Salé-Kenitra, Morocco",INGECYS TECHNOLOGIES GROUP

In [33]:
from geopy.extra.rate_limiter import RateLimiter
from geopy.geocoders import Nominatim

locator = Nominatim(user_agent="myGeocoder")

# 1 - conveneint function to delay between geocoding calls
geocode = RateLimiter(locator.geocode, min_delay_seconds=1)
# 2- - create location column
inpt_new['geocode'] = inpt_new['Location'].apply(geocode)
# 3 - create longitude, laatitude and altitude from location column (returns tuple)
inpt_new['point'] = inpt_new['geocode'].apply(lambda loc: tuple(loc.point) if loc else None)
# 4 - split point column into latitude, longitude and altitude columns
inpt_new[['Latitude', 'Longitude', 'Altitude']] = pd.DataFrame(inpt_new['point'].tolist(), index=inpt_new.index)

C:\Users\taha_\AppData\Local\Temp/ipykernel_7044/1298716744.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inpt_new['geocode'] = inpt_new['Location'].apply(geocode)
C:\Users\taha_\AppData\Local\Temp/ipykernel_7044/1298716744.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inpt_new['point'] = inpt_new['geocode'].apply(lambda loc: tuple(loc.point) if loc else None)
C:\Users\taha_\anaconda\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [34]:
inpt_new

,LinkedinProfile,Company,Location,geocode,point,Latitude,Longitude,Altitude
0,https://www.linkedin.com/in/wiaam-sahraoui-00a...,Société Générale - Africa Technologies & Services,"Casablanca-Settat, Morocco",(Casablanca-Settat ⵜⵉⴳⵎⵉ ⵜⵓⵎⵍⵉⵍⵜ-ⵙⵟⵟⴰⵜ الدار ا...,"(33.2627128, -7.9639028, 0.0)",33.262713,-7.963903,0.0
1,https://www.linkedin.com/in/abdelhamid-aabirou...,Henceforth,"al-Ribat, Rabat-Salé-Kenitra, Morocco",None,None,NaN,NaN,NaN
2,https://www.linkedin.com/in/zait-chaimae-27b64...,FLOW DIGITAL STUDIO,"Rabat, Rabat-Salé-Kenitra, Morocco","(Rabat ⵔⴱⴰⵟ الرباط, Hassan حسان, باشوية الرباط...","(34.022405, -6.834543, 0.0)",34.022405,-6.834543,0.0
3,https://www.linkedin.com/in/oumaima-outamldou-...,DATAPROTECT,Morocco,"(Maroc / ⵍⵎⵖⵔⵉⴱ / المغرب, (31.1728205, -7.3362...","(31.1728205, -7.3362482, 0.0)",31.172821,-7.336248,0.0
4,https://www.linkedin.com/in/karima-el-asekary-...,OCP SA,Morocco,"(Maroc / ⵍⵎⵖⵔⵉⴱ / المغرب, (31.1728205, -7.3362...","(31.1728205, -7.3362482, 0.0)",31.172821,-7.336248,0.0
...,...,...,...,...,...,...,...,...
604,https://www.linkedin.com/in/slaoui-mehdi/,OUTFITTERY,Berlin Metropolitan Area,"(Berlin, Buenos Aires, Bayovar, San Juan de Lu...","(-11.9644224, -76.9936678, 0.0)",-11.964422,-76.993668,0.0
605,https://www.linkedin.com/in/chafikkasimi/,AiSight,"Berlin, Berlin, Germany","(Berlin Ostbahnhof, Mitteltunnel, Friedrichsha...","(52.5103817, 13.4349112, 0.0)",52.510382,13.434911,0.0
606,https://www.linkedin.com/in/haitam-bourquouquo...,Altran,"Hamburg, Hamburg, Germany","(Erdkorn, 77, Eppendorfer Landstraße, Eppendor...","(53.5907102, 9.9862731, 0.0)",53.590710,9.986273,0.0
607,https://www.linkedin.com/in/fatima-zouicha-487...,globaldatanet,"Hamburg, Hamburg, Germany","(Erdkorn, 77, Eppendorfer Landstraße, Eppendor...","(53.5907102, 9.9862731, 0.0)",53.590710,9.986273,0.0
608,https://www.linkedin.com/in/souhaila-bouaida-4...,Huawei,Sweden,"(Sverige, (59.6749712, 14.5208584))","(59.6749712, 14.5208584, 0.0)",59.674971,14.520858,0.0

In [35]:
cleaned_df = inpt_new.drop(['geocode','point','Altitude'],axis=1)

In [36]:
cleaned_df

,LinkedinProfile,Company,Location,Latitude,Longitude
0,https://www.linkedin.com/in/wiaam-sahraoui-00a...,Société Générale - Africa Technologies & Services,"Casablanca-Settat, Morocco",33.262713,-7.963903
1,https://www.linkedin.com/in/abdelhamid-aabirou...,Henceforth,"al-Ribat, Rabat-Salé-Kenitra, Morocco",NaN,NaN
2,https://www.linkedin.com/in/zait-chaimae-27b64...,FLOW DIGITAL STUDIO,"Rabat, Rabat-Salé-Kenitra, Morocco",34.022405,-6.834543
3,https://www.linkedin.com/in/oumaima-outamldou-...,DATAPROTECT,Morocco,31.172821,-7.336248
4,https://www.linkedin.com/in/karima-el-asekary-...,OCP SA,Morocco,31.172821,-7.336248
...,...,...,...,...,...
604,https://www.linkedin.com/in/slaoui-mehdi/,OUTFITTERY,Berlin Metropolitan Area,-11.964422,-76.993668
605,https://www.linkedin.com/in/chafikkasimi/,AiSight,"Berlin, Berlin, Germany",52.510382,13.434911
606,https://www.linkedin.com/in/haitam-bourquouquo...,Altran,"Hamburg, Hamburg, Germany",53.590710,9.986273
607,https://www.linkedin.com/in/fatima-zouicha-487...,globaldatanet,"Hamburg, Hamburg, Germany",53.590710,9.986273
608,https://www.linkedin.com/in/souhaila-bouaida-4...,Huawei,Sweden,59.674971,14.520858

In [37]:
cleaned_df.dropna(inplace=True)

In [38]:
cleaned_df.to_csv("cleaned.csv")

In [39]:
cleaned_df = pd.read_csv("cleaned.csv")

In [40]:
import json

with open('df.json', 'w', encoding='utf-8') as file:
    cleaned_df.to_json(file, orient="records", force_ascii=False)

In [41]:
data=list(zip(cleaned_df['Latitude'].values, cleaned_df['Longitude'].values))

In [42]:
len(data)

365

In [43]:
cleaned_df["id"] = cleaned_df.index + 1
cleaned_df["count"] = cleaned_df.index

In [44]:
cleaned_df

,Unnamed: 0,LinkedinProfile,Company,Location,Latitude,Longitude,id,count
0,0,https://www.linkedin.com/in/wiaam-sahraoui-00a...,Société Générale - Africa Technologies & Services,"Casablanca-Settat, Morocco",33.262713,-7.963903,1,0
1,2,https://www.linkedin.com/in/zait-chaimae-27b64...,FLOW DIGITAL STUDIO,"Rabat, Rabat-Salé-Kenitra, Morocco",34.022405,-6.834543,2,1
2,3,https://www.linkedin.com/in/oumaima-outamldou-...,DATAPROTECT,Morocco,31.172821,-7.336248,3,2
3,4,https://www.linkedin.com/in/karima-el-asekary-...,OCP SA,Morocco,31.172821,-7.336248,4,3
4,6,https://www.linkedin.com/in/fatimezzahra-r-bib...,Capgemini,"Casablanca-Settat, Morocco",33.262713,-7.963903,5,4
...,...,...,...,...,...,...,...,...
360,604,https://www.linkedin.com/in/slaoui-mehdi/,OUTFITTERY,Berlin Metropolitan Area,-11.964422,-76.993668,361,360
361,605,https://www.linkedin.com/in/chafikkasimi/,AiSight,"Berlin, Berlin, Germany",52.510382,13.434911,362,361
362,606,https://www.linkedin.com/in/haitam-bourquouquo...,Altran,"Hamburg, Hamburg, Germany",53.590710,9.986273,363,362
363,607,https://www.linkedin.com/in/fatima-zouicha-487...,globaldatanet,"Hamburg, Hamburg, Germany",53.590710,9.986273,364,363
364,608,https://www.linkedin.com/in/souhaila-bouaida-4...,Huawei,Sweden,59.674971,14.520858,365,364

In [45]:
df2 = pd.DataFrame(cleaned_df.groupby(['Latitude','Longitude','Location','Company'])['count'].count())

In [46]:
df2

                                                                              count
Latitude   Longitude   Location                     Company
-11.964422 -76.993668  Berlin Metropolitan Area     OUTFITTERY                    1
 19.060323  72.834741  Casablanca Metropolitan Area Adwebmaroc                    1
                                                    Akka Technologies             1
                                                    BCG Platinion                 1
                                                    BOUYGUES CONSTRUCTION IT      1
...                                                                             ...
 52.510382  13.434911  Berlin, Berlin, Germany      AiSight                       1
 53.590710  9.986273   Hamburg, Hamburg, Germany    Altran                        1
                                                    globaldatanet                 1
 59.674971  14.520858  Sweden                       Huawei                        1
 61.066692 -107.991707 Canada                       Laplace Insights              1

[268 rows x 1 columns]

In [47]:
with open('df2.json', 'w', encoding='utf-8') as file:
    df2.to_json(file, orient="records", force_ascii=False)

In [48]:
df2.to_csv("z3bola.csv")

In [49]:
for index in df2.index:
    print(index[])

SyntaxError: invalid syntax (Temp/ipykernel_7044/2016445326.py, line 2)

In [50]:
df2["count"][df2.index[0]]

1

In [51]:
import numpy as np
#my_array = df2.index
#df2 = pd.DataFrame(my_array, columns = ['Latitude','Longitude','Location','Company'])
pd.DataFrame(df2=df2[0:,0:], index=[i for i in range(df2.shape[0])], columns=['f'+str(i) for i in range(df2.shape[1])])

TypeError: '(slice(0, None, None), slice(0, None, None))' is an invalid key

In [ ]:
df2['id'] = [i for i in range(len(df2))]

In [52]:
df2

                                                                              count
Latitude   Longitude   Location                     Company
-11.964422 -76.993668  Berlin Metropolitan Area     OUTFITTERY                    1
 19.060323  72.834741  Casablanca Metropolitan Area Adwebmaroc                    1
                                                    Akka Technologies             1
                                                    BCG Platinion                 1
                                                    BOUYGUES CONSTRUCTION IT      1
...                                                                             ...
 52.510382  13.434911  Berlin, Berlin, Germany      AiSight                       1
 53.590710  9.986273   Hamburg, Hamburg, Germany    Altran                        1
                                                    globaldatanet                 1
 59.674971  14.520858  Sweden                       Huawei                        1
 61.066692 -107.991707 Canada                       Laplace Insights              1

[268 rows x 1 columns]

In [53]:
df2 = df2.reset_index()

In [54]:
df2

,Latitude,Longitude,Location,Company,count
0,-11.964422,-76.993668,Berlin Metropolitan Area,OUTFITTERY,1
1,19.060323,72.834741,Casablanca Metropolitan Area,Adwebmaroc,1
2,19.060323,72.834741,Casablanca Metropolitan Area,Akka Technologies,1
3,19.060323,72.834741,Casablanca Metropolitan Area,BCG Platinion,1
4,19.060323,72.834741,Casablanca Metropolitan Area,BOUYGUES CONSTRUCTION IT,1
...,...,...,...,...,...
263,52.510382,13.434911,"Berlin, Berlin, Germany",AiSight,1
264,53.590710,9.986273,"Hamburg, Hamburg, Germany",Altran,1
265,53.590710,9.986273,"Hamburg, Hamburg, Germany",globaldatanet,1
266,59.674971,14.520858,Sweden,Huawei,1
267,61.066692,-107.991707,Canada,Laplace Insights,1

In [82]:
import json
 
def write_json(new_data, filename='df2.json'):
    with open(filename,'r+') as file:
          # First we load existing data into a dict.
        file_data = json.load(file)
        # Join new_data with file_data inside emp_details
        file_data["data"].append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file, indent = 4)

In [84]:

for uni_loc in df2["Location"].unique():
    #print(uni_loc)
    companies = df2[ df2['Location']== uni_loc]["Company"]
    Company_count = {}
    for company in companies:
        Company_count[company] = df2[ df2['Company']== company]["count"].values[0]
    #print(type(Company_count))
    Dict = { "Latitude": df2[ df2['Location']== uni_loc]["Latitude"],
             "Longitude": df2[ df2['Location']== uni_loc]["Longitude"],
             "Location": uni_loc,

    }
    print(type(Dict))
    json = json.dumps(Dict)
    write_json(json)

<class 'dict'>

TypeError: Object of type Series is not JSON serializable

In [ ]:
df2 [ df2["Company"] ]

In [ ]:
with open('df2.json', 'w', encoding='utf-8') as file:
    df2.to_json(file, orient="records", force_ascii=False)